header
	enabled true
	contactson
	name Введите значения
	phone +7(900)123-45-87
	contacton
		country Введите значение
		city Введите значение
		street Введите значение
		room Введите значение
		postal-code Введите значение
		skype Введите значение
		e-mail Введите значение
		company-name Введите значение
	social-network
		enabled true
		facebook facebook.com/ukitcom
		vk Введите значение
		twitter Введите значение
		
	icon
		enabled true
		src /some/url
	header
		enabled true
		value Введите значение
	menu
		enabled true
		Главная ["Главная", ]
		ОНасО Нас
		Услуги Услуги
		Портфолио Портфолио
		Команда Команда

content
	enabled true
	block
		enabled true
		text|#### Студия дизайна
			|## Apartment
			|Лучшие решения, актуальный дизайн, непревзойденное качество — все это  о нашей студии
	block
		image[картинка]
		text## О Нас
		button
			- some
			- array
			- value

footer
	enabled true
	social-network on
	facebook facebook.com/ukitcom
	vk Введите значения
	twitter Введите значения
	copyright
		enabled true